<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<param name="Pattern"
				value="%d{yyyy-MM-dd HH:mm:ss} %contextName %-5level [%logger{36}] %msg%n" />
		</layout>
	</appender>

	<!-- appenders -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/data/logs/wc/wc-service_%d{yyyyMMdd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d{HH:mm:ss} %-5p %c:%L - %m%n</pattern>
		</encoder>
	</appender>

	<logger name="com.wc" level="INFO" additivity="false">
	    <appender-ref ref="STDOUT" />
	    <appender-ref ref="FILE" />
  	</logger>   
	<!-- root logger -->
	<root level="ERROR">
	    <appender-ref ref="STDOUT" />
	    <appender-ref ref="FILE" />
	</root>
	
</configuration>