<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wc.base.dao.impl.BasisCityDaoImpl">
    <resultMap id="BaseResultMap" type="com.wc.base.bean.BasisCity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="city_code" jdbcType="INTEGER" property="cityCode"/>
        <result column="city_name" jdbcType="VARCHAR" property="cityName"/>
        <result column="city_parent" jdbcType="INTEGER" property="cityParent"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, city_code, city_name, city_parent
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from basis_city
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from basis_city
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.wc.base.bean.BasisCity">
    insert into basis_city (id, city_code, city_name, 
      city_parent)
    values (#{id,jdbcType=INTEGER}, #{cityCode,jdbcType=INTEGER}, #{cityName,jdbcType=VARCHAR}, 
      #{cityParent,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.wc.base.bean.BasisCity">
        insert into basis_city
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="cityCode != null">
                city_code,
            </if>
            <if test="cityName != null">
                city_name,
            </if>
            <if test="cityParent != null">
                city_parent,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="cityCode != null">
                #{cityCode,jdbcType=INTEGER},
            </if>
            <if test="cityName != null">
                #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="cityParent != null">
                #{cityParent,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wc.base.bean.BasisCity">
        update basis_city
        <set>
            <if test="cityCode != null">
                city_code = #{cityCode,jdbcType=INTEGER},
            </if>
            <if test="cityName != null">
                city_name = #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="cityParent != null">
                city_parent = #{cityParent,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wc.base.bean.BasisCity">
    update basis_city
    set city_code = #{cityCode,jdbcType=INTEGER},
      city_name = #{cityName,jdbcType=VARCHAR},
      city_parent = #{cityParent,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test=" entity != null">
                    <if test="entity.cityParent!=null">
                        and city_parent=#{entity.cityParent,jdbcType=INTEGER}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from basis_city
        <include refid="selectCondition"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.pagesize} offset ${pageInfo.startIndex}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from basis_city
        <include refid="selectCondition"/>
    </select>

</mapper>