<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wc.product.dao.impl.FinancingUserDaoImpl">
    <resultMap id="BaseResultMap" type="com.wc.product.bean.FinancingUser">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="fpid" property="fpid" jdbcType="BIGINT"/>
        <result column="amount" property="amount" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="title" property="productTitle" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, mobile, create_time, fpid, amount, user_id
    </sql>
    <sql id="Base_Column_List_Ext">
        b.id, b.name, b.mobile, b.create_time, b.fpid, b.amount,a.title
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from financing_user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from financing_user
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.wc.product.bean.FinancingUser">
        insert into financing_user (id, name, mobile,
        create_time, fpid, amount,
        user_id)
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{fpid,jdbcType=BIGINT}, #{amount,jdbcType=INTEGER},
        #{userId,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" parameterType="com.wc.product.bean.FinancingUser">
        insert into financing_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="fpid != null">
                fpid,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="userId != null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fpid != null">
                #{fpid,jdbcType=BIGINT},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wc.product.bean.FinancingUser">
        update financing_user
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fpid != null">
                fpid = #{fpid,jdbcType=BIGINT},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wc.product.bean.FinancingUser">
    update financing_user
    set name = #{name,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
        fpid = #{fpid,jdbcType=BIGINT},
        amount = #{amount,jdbcType=INTEGER},
        user_id = #{userId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test="entity != null">
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from financing_user
        <include refid="selectCondition"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.pagesize} offset ${pageInfo.startIndex}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity" resultType="java.lang.Integer">
        select count(*) from financing_user
        <include refid="selectCondition"/>
    </select>

    <sql id="selectConditionExt">
        <where>
            <trim suffixOverrides="and">
                and a.id=b.fpid
                <if test="entity != null">
                    <!--<if test="entity.jsessionid!=null">-->
                    <!--and jsessionid=#{entity.jsessionid,jdbcType=VARCHAR}-->
                    <!--</if>-->
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfoExt" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List_Ext"/>
        from financing_product a,financing_user b
        <include refid="selectConditionExt"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.pagesize} offset ${pageInfo.startIndex}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntityExt" resultType="java.lang.Integer">
        select count(*) from financing_product a,financing_user b
        <include refid="selectCondition"/>
    </select>

</mapper>