<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wc.user.dao.impl.IntegrationLogDaoImpl">
    <resultMap id="BaseResultMap" type="com.wc.user.bean.IntegrationLog">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="Integration" property="integration" jdbcType="NUMERIC"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="pid" property="pid" jdbcType="BIGINT"/>
        <result column="default_img" property="defaultImg" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="NUMERIC"/>
    </resultMap>
    <resultMap id="BaseResultMapMember" type="com.wc.user.bean.IntegrationLog">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="Integration" property="integration" jdbcType="NUMERIC"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="pid" property="pid" jdbcType="BIGINT"/>
        <result column="default_img" property="defaultImg" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="NUMERIC"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, title, create_time, Integration, user_id, type, pid, default_img, price
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from integration_log
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from integration_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.wc.user.bean.IntegrationLog">
    insert into integration_log (id, title, create_time,
        Integration, user_id, type,
        pid, default_img, price
    )
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{integration,jdbcType=NUMERIC}, #{userId,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR},
        #{pid,jdbcType=BIGINT}, #{defaultImg,jdbcType=VARCHAR}, #{price,jdbcType=NUMERIC}
    )
  </insert>
    <insert id="insertSelective" parameterType="com.wc.user.bean.IntegrationLog">
        insert into integration_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="integration != null">
                Integration,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="pid != null">
                pid,
            </if>
            <if test="defaultImg != null">
                default_img,
            </if>
            <if test="price != null">
                price,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="integration != null">
                #{integration,jdbcType=NUMERIC},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=BIGINT},
            </if>
            <if test="defaultImg != null">
                #{defaultImg,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=NUMERIC},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wc.user.bean.IntegrationLog">
        update integration_log
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="integration != null">
                Integration = #{integration,jdbcType=NUMERIC},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                pid = #{pid,jdbcType=BIGINT},
            </if>
            <if test="defaultImg != null">
                default_img = #{defaultImg,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=NUMERIC},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wc.user.bean.IntegrationLog">
    update integration_log
    set title = #{title,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      Integration = #{integration,jdbcType=NUMERIC},
      user_id = #{userId,jdbcType=BIGINT},
        type = #{type,jdbcType=VARCHAR},
        pid = #{pid,jdbcType=BIGINT},
        default_img = #{defaultImg,jdbcType=VARCHAR},
        price = #{price,jdbcType=NUMERIC}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test=" entity != null">
                    <if test="entity.userId!=null">
                        and user_id=#{entity.userId,jdbcType=INTEGER}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from integration_log
        <include refid="selectCondition"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.pagesize} offset ${pageInfo.startIndex}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from integration_log
        <include refid="selectCondition"/>
    </select>

    <sql id="selectConditionMember">
        <where>
            i.user_id = M . ID
            <trim suffixOverrides="and">
                <if test="entity != null">
                    <if test="entity.userId!=null">
                        and i.user_id=#{entity.userId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.type!=null">
                        and i.type=#{entity.type,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.nickname!=null">
                        and m.nickname like #{entity.nickname,jdbcType=VARCHAR}
                    </if>
                    <if test="entity.mobile!=null">
                        and m.mobile like #{entity.mobile,jdbcType=VARCHAR}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfoMember"
            resultMap="BaseResultMapMember">
        select
        i.ID,
        i.title,
        i.create_time,
        i.Integration,
        i.user_id,
        i.TYPE,
        i.pid,
        i.default_img,
        i.price,
        m.mobile,
        m.nickname
        from integration_log i,member m
        <include refid="selectConditionMember"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.pagesize} offset ${pageInfo.startIndex}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntityMember"
            resultType="java.lang.Integer">
        select count(*) from integration_log i,member m
        <include refid="selectConditionMember"/>
    </select>

</mapper>
