<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wc.user.dao.impl.PropertyManagementFeeDaoImpl">
    <resultMap id="BaseResultMap" type="com.wc.user.bean.PropertyManagementFee">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="amount" property="amount" jdbcType="NUMERIC"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="SMALLINT"/>
        <result column="community_id" property="communityId" jdbcType="BIGINT" />
        <result column="month" property="month" jdbcType="TIMESTAMP" />
        <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <resultMap id="BaseResultMapMember" type="com.wc.user.bean.PropertyManagementFee">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="amount" property="amount" jdbcType="NUMERIC"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="SMALLINT"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, amount, create_time, user_id, status, community_id, month, pay_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from property_management_fee
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from property_management_fee
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.wc.user.bean.PropertyManagementFee">
       insert into property_management_fee (id, amount, create_time,
      user_id, status, community_id,
      month, pay_time)
    values (#{id,jdbcType=BIGINT}, #{amount,jdbcType=NUMERIC}, #{createTime,jdbcType=TIMESTAMP},
      #{userId,jdbcType=BIGINT}, #{status,jdbcType=SMALLINT}, #{communityId,jdbcType=BIGINT},
      #{month,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.wc.user.bean.PropertyManagementFee">
        insert into property_management_fee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="communityId != null" >
                community_id,
            </if>
            <if test="month != null" >
                month,
            </if>
            <if test="payTime != null" >
                pay_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=NUMERIC},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=SMALLINT},
            </if>
            <if test="communityId != null" >
                #{communityId,jdbcType=BIGINT},
            </if>
            <if test="month != null" >
                #{month,jdbcType=TIMESTAMP},
            </if>
            <if test="payTime != null" >
                #{payTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wc.user.bean.PropertyManagementFee">
        update property_management_fee
        <set>
            <if test="amount != null">
                amount = #{amount,jdbcType=NUMERIC},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=SMALLINT},
            </if>
            <if test="communityId != null" >
                community_id = #{communityId,jdbcType=BIGINT},
            </if>
            <if test="month != null" >
                month = #{month,jdbcType=TIMESTAMP},
            </if>
            <if test="payTime != null" >
                pay_time = #{payTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wc.user.bean.PropertyManagementFee">
    update property_management_fee
        set amount = #{amount,jdbcType=NUMERIC},
      create_time = #{createTime,jdbcType=TIMESTAMP},
        user_id = #{userId,jdbcType=BIGINT},
        status = #{status,jdbcType=SMALLINT},
      community_id = #{communityId,jdbcType=BIGINT},
      month = #{month,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test=" entity != null">
                    <if test="entity.userId!=null">
                        and user_id=#{entity.userId,jdbcType=INTEGER}
                    </if>
                    <if test="entity.communityId!=null">
                        and community_id=#{entity.communityId,jdbcType=BIGINT}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from property_management_fee
        <include refid="selectCondition"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.pagesize} offset ${pageInfo.startIndex}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from property_management_fee
        <include refid="selectCondition"/>
    </select>


    <sql id="selectConditionMember">
        <where>
            b.user_id = m.id
            <trim suffixOverrides="and">
                <if test=" entity != null">
                    <if test="entity.userId!=null">
                        and user_id=#{entity.userId,jdbcType=INTEGER}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfoMember"
            resultMap="BaseResultMapMember">
        select b.id, b.amount, b.create_time, b.user_id, b.status,m.mobile,m.nickname
        from property_management_fee b,member m
        <include refid="selectConditionMember"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.pagesize} offset ${pageInfo.startIndex}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntityMember"
            resultType="java.lang.Integer">
        select count(*) from property_management_fee b,member m
        <include refid="selectConditionMember"/>
    </select>
</mapper>