<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wc.backstage.dao.impl.RoleMenuDaoImpl">
    <resultMap id="BaseResultMap" type="com.wc.backstage.bean.RoleMenuKey">
        <id column="role_id" property="roleId" jdbcType="BIGINT"/>
        <id column="menu_id" property="menuId" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    role_id, menu_id
  </sql>
    <delete id="deleteByPrimaryKey" parameterType="com.wc.backstage.bean.RoleMenuKey">
        delete from role_menu
        where role_id = #{roleId,jdbcType=BIGINT}
        <if test="menuId != null">
            and menu_id = #{menuId,jdbcType=BIGINT}
        </if>
    </delete>
    <insert id="insert" parameterType="com.wc.backstage.bean.RoleMenuKey">
    insert into role_menu (role_id, menu_id)
    values (#{roleId,jdbcType=BIGINT}, #{menuId,jdbcType=BIGINT})
  </insert>
    <insert id="insertSelective" parameterType="com.wc.backstage.bean.RoleMenuKey">
        insert into role_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                role_id,
            </if>
            <if test="menuId != null">
                menu_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                #{roleId,jdbcType=BIGINT},
            </if>
            <if test="menuId != null">
                #{menuId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <sql id="selectCondition">
        <where>
            <trim suffixOverrides="and">
                <if test=" entity != null">
                    <if test="entity.roleId!=null">
                        and role_id=#{entity.roleId,jdbcType=BIGINT}
                    </if>
                </if>
            </trim>
            <trim suffixOverrides="and">
                <if test="whereSql!=null">
                    and ${whereSql}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 根据条件查询 -->
    <select id="getListByEntityAndPageInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from role_menu
        <include refid="selectCondition"/>
        <if test="orderBy!=null">
            ${orderBy}
        </if>
        <if test="pageInfo!=null">
            limit ${pageInfo.pagesize} offset ${pageInfo.startIndex}
        </if>
    </select>

    <!-- 查询总数 -->
    <select id="getTotalByEntity"
            resultType="java.lang.Integer">
        select count(*) from role_menu
        <include refid="selectCondition"/>
    </select>


</mapper>